{% load staticfiles %}
<html>
<head>
    <title>Contact Page</title>
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
     <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

    <header>
    <div>
        <ul>
            <li> <a href="/home/"> Home</a>  </li>
            <li> <a href="/services/">Services</a></li>
            <li> <a href="#">Contact</a></li>
            <li> <a href="/feedback/">Feedback</a></li>
            <li> <a href="/gallery/">Gallery</a></li>
        </ul>
    </div>

<div class="container">
    <div class="row">
        <div class="col-md-6">

            <form method="POST">
                <h2>Please Enter Your Details</h2>
                {% csrf_token %}
                {{ cform }}<br>
                <input type="submit" value="Submit">
                <input type="reset" value="Clear">
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">

            <h3>Address - 1</h3>
            <pre class="pre1">
    Technosoft,
    Flat no:205,
    Gachibowli,
    Hyderabad, Telangana
            </pre>
        </div>
        <div class="col-md-3">
            <h3>Address - 2</h3>
            <pre class="pre1">
    Technosoft,
    501, Madhapur,
    Hitech City
    Hyderabad, Telangana
            </pre>

        </div>
    </div>
</div>

<pre style="color: white; font-size: 20px">
        Developed By Niranjan & Mani Kumar
    </pre>
</header>
</body>
</html>









