{% load staticfiles %}
<html>
<head>
    <title>Services</title>
    <link rel="stylesheet" href="{% static 'css/services.css' %}">
         <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
    <body>
    <header>
    <div>
        <ul>
            <li> <a href="/home/"> Home</a>  </li>
            <li> <a href="#">Services</a></li>
            <li> <a href="/contact/">Contact</a></li>
            <li> <a href="/feedback/">Feedback</a></li>
            <li> <a href="/gallery/">Gallery</a></li>
        </ul>
    </div>
        <h1>Course Details</h1>
                <center>
               <table border="2">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Fee</th>
                                <th>Data</th>
                                <th>Time</th>
                                <th>Dur</th>
                                <th>Faculty</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Python</td>
                                <td>2000</td>
                                <td>10th Mar</td>
                                <td>10am</td>
                                <td>60days</td>
                                <td>Vinod</td>
                            </tr>
                        <tr>
                                <td>Django</td>
                                <td>2000</td>
                                <td>10th Mar</td>
                                <td>11am</td>
                                <td>60days</td>
                                <td>Raju</td>
                            </tr>
                        <tr>
                                <td>Rest API</td>
                                <td>2000</td>
                                <td>10th Mar</td>
                                <td>11am</td>
                                <td>30days</td>
                                <td>Naveen</td>
                            </tr>
                        <tr>
                                <td>UI</td>
                                <td>1000</td>
                                <td>10th Mar</td>
                                <td>2pm</td>
                                <td>60days</td>
                                <td>Krishna</td>
                            </tr>

                        <tr>
                                <td>Java</td>
                                <td>2000</td>
                                <td>11h Mar</td>
                                <td>4pm</td>
                                <td>360days</td>
                                <td>Kumar</td>
                            </tr>

                        <tr>
                                <td>.NET</td>
                                <td>2000</td>
                                <td>11th Mar</td>
                                <td>5pm</td>
                                <td>180days</td>
                                <td>Sai</td>
                            </tr>

                        <tr>
                                <td>PHP</td>
                                <td>2000</td>
                                <td>12th Mar</td>
                                <td>11am</td>
                                <td>60days</td>
                                <td>Siva</td>
                            </tr>
                        </tbody>
                    </table>
                    </center>
<pre style="color: white; font-size: 20px">
        Developed By Niranjan & MAni Kumar
    </pre>
    </header>
</body>
</html>